body {
	margin: 0;
	/* Fondo de la pagina */
	background: white;
}

.bg-home {
	height: 100vh;
	background-image: url(../img/fond.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(5px);
}

.bg-text {
	color: white;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: left;
}

.titulo {
	font-size: 60px;
	margin-bottom: 15px;
}

.about-text{
	font-size: 20px;
	text-align: justify;
}

.skill {
	font-size: 100px;
	line-height: 60px;
}

footer {
	background: black;
	padding: 10px 0;
	color: white;
	margin-top: 4cqw;
}

.footer-content {
	
	
	
	
	padding-top: 20px;
	padding-bottom: 20px;
}

.contact-us {
	color: #fff;
}

.brand {
	font-weight: 500;
	font-size: 40px;
}

.social-media{
	display: flex;
	justify-content: flex-end;
}

.social-media-icon {
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;
}

.social-media-icon:hover {
	background: #fff;
	color:gray;
}

.social-media-icon i {
	font-size: 30px;
	line-height: 60px;
}

.line {
	-moz-window-shadow: 90%;
	max-width: 1200px;
	margin: 0 auto;
	height: 2px;
	background: #fff;
	margin-bottom: 20px;
}

@media screen and (max-width:800px) {
	.social-media{
		justify-content: space-evenly;
	}
	.contact-us{
		text-align: center;
		margin-bottom: 40%
	}
}

@media screen and (max-width:500){

	.social-media{
		justify-content: space-evenly;
	}
}