<!--About-->
<section class="container py-5" id="about">
    <h1 class="text-center">About</h1>
    <div class="row py-5">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h3>¿Quién es Arturo Ortega?</h3>
            <p class="about-text">
                ¡Hola! Soy Arturo, un desarrollador junior apasionado por el mundo de la tecnología y el
                software.
            </p>
            <p class="about-text">
                Me gradué como Ingeniero en Sistemas Computacionales, donde adquirí conocimientos en el
                desarrollo de aplicaciones web y móviles. Aunque aún no tengo mucha experiencia laboral, he
                trabajado en proyectos personales y en equipo, lo que me ha permitido mejorar mis habilidades de
                programación y aprender a trabajar de manera efectiva en grupo.
            </p>
            <a href="assets/doc/CV-ARTURO ORTEGA CABRERA.pdf" class="btn colorbtn my-3" target="-">Download CV</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h3 class="text-center">Skills</h3>
            <div class="skill">

                <i class='bx bx-code-block'>
                    <p class="text-center about-text">C#</p>
                </i>

                <i class='bx bxl-javascript'>
                    <p class="text-center about-text">JavaScript</p>
                </i>
                
                <i class='bx bxl-nodejs'>
                    <p class="text-center about-text">NodeJs</p>
                </i>

                <i class='bx bxs-data'>
                    <p class="text-center about-text">Sql Server</p>
                </i>

                <i class='bx bxl-mongodb'>
                    <p class="text-center about-text">Mongo DB</p>
                </i>

                <i class='bx bxl-angular'>
                    <p class="text-center about-text">Angular</p>
                </i>

                <i class='bx bxl-html5'>
                    <p class="text-center about-text">HTML</p>
                </i>

                <i class='bx bxl-css3'>
                    <p class="text-center about-text">java</p>
                </i>

                <i class='bx bxl-bootstrap'>
                    <p class="text-center about-text">Bootstrap</p>
                </i>
            </div>
        </div>
    </div>
</section>
<!--Fin de About-->
