<main>
    <!--Home-->
    <section>
        <div class="bg-home"></div>
        <div>
            <div class="row align-items-center bg-text">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img src="assets/img/yo.jpg" alt="" width="350" height="350" class="rounded img-fluid">
                    <!--img-fluid hace la imagen responsiva-->
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <p class="titulo">Hi!</p>
                    <h2>I'm Arturo Ortega</h2>
                    <h3>Developer Jr</h3>
                </div>
            </div>
        </div>
    </section>
    <!--Fin de Home-->
</main> 
