.leer {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.colorbtn {
  color: white;
  background-color: #33353d
}
.portafolio-text{
	font-size: 15px;
	text-align: justify;
}
.portafolio-tecnologias{
  font-size: 13px;
  color: #737373;
}